<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<% if @user.role == "p" %>
  <p>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </p>
  <p>
    <strong>Country:</strong>
    <%= @user.location.country %>
  </p>
  <p>
    <strong>City:</strong>
    <%= link_to @user.location.city, @user.location %>
  </p>
  <p>
    <strong>Currency:</strong>
    <%= @user.currency %>
  </p>
  <p>
    <strong>Price for 2 hours photoshoot:</strong>
    <%= @user.price %>
  </p>
  <p>
    <strong>Upload Photos:</strong>
    <%= @user.upload_professional_photo %>
  </p>
  <h3><%= "#{@user.first_name}'s Photos"%></h3>
  <u>
    <% @user.photos.each do |photo| %>
      <li><%= image_tag photo.image, width: '200' %></li>
    <% end %>
  </u>
<% end %>






