<p id="notice"><%= notice %></p>


<%= image_tag @user.profile_photo.url, width: 200 %>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<% if !!current_user %>
<% if @user.role == "p" %>
<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>Country:</strong>
  <%= @user.location.country %>
</p>
<p>
  <strong>City:</strong>
  <%= link_to @user.location.city, @user.location %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @user.currency %>
</p>
<p>
  <strong>Price for 2 hours photoshoot:</strong>
  <%= @user.price %>
</p>

<h3><%= "#{@user.first_name}'s Portfolio"%></h3>
<ul>
  <% @user.photos.each do |photo| %>
  <li><%= link_to(image_tag(photo.image, width: '200'), photo) %></li>
  <% end %>
</ul>

<%= link_to "Like", like_user_path(@user), method: :put %>
<%= link_to "Dislike", dislike_user_path(@user), method: :put %>
<%=  @user.get_likes.size %>
<%=  @user.get_dislikes.size %>

<% end %>
<% else %>
<p>
  <strong>Price for 2 hours photoshoot:</strong>
  <%= @user.price %>
</p>

<h3><%= "#{@user.first_name}'s Portfolio"%></h3>
<ul>
  <% @user.photos.each do |photo| %>
  <li><%= link_to(image_tag(photo.image, width: '200'), photo) %></li>
  <% end %>
</ul>
<% end %>






